html, body, #sapper, #app-holder {
    background: rgb(20,43,57);
    background: linear-gradient(90deg, rgba(20,43,57,1) 0%, rgba(13,12,38,1) 100%);
    margin: 0;
    padding: 0;
    /* min-height: 100%;
    height: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*:before, *:after, * {
    box-sizing: border-box;
}

* {
    transition: all ease-in-out;
}

svg, svg > * {
    fill: #F6F5F6;
}

#app-holder {
    padding: 40px;
}

@media screen and (max-width: 700px) {
  #app-holder {
      padding-top: 30px;
      padding: 20px;
  }
}

h1, h2, h3, h4, span, p, a, li, .title, .content {
    color: #F6F5F6;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

h1, h2, h3, h4, .title {
    font-weight: 500;
    letter-spacing: 2px;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn {
    padding: 15px;
    background-color: #F6F5F6;
    color: rgba(2,0,36,1);
    margin-top: 30px;
    color: rgba(2,0,36,1);
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }